

  h1 { color:  ; font-size: 60px;
    font-family: Bookman
  }

  h3 { color:black ; font-size: 25px;
    font-family:"arial"
  }

  p {color: black ; font-size: 20px;
    font-family: "fantasy"
  }
